:root {
  --Impact: #c9240e;
  --Main: #f7f7f7;
  --Accent: #b5b5b5;
  --Background: #0e0e0e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1vw;
  color: var(--Accent);
  background-color: var(--Background);
}

h1 {
  color: var(--Main)
}

nav a {
  text-decoration: none;
  padding: 0.5vh 0.75vw;
  color: var(--Main)
}

header {
  position: fixed;
  top 0;
  width: 100%;
  color: var(--Main);
  background-color: var(--Impact);
}

header, header h1, header li, header a, header ul {
  background-color: var(--Impact);
  color: var(--Main)
}

header h1 {
  font-size: 300%;
  float: left;
  padding: 2vh 1vw;
}

nav li, nav a {
  display: inline-block;
}

nav ul {
  float: right;
}
nav li {
  padding: 5% 3vw;
}

.hero-img {
  background-image: url("Images/GeoCover.png");
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.txt-block {
  padding: 5vw 25vw;
}

.txt-block h1 {
  text-align: center;
  font-size: 200%;
  padding-bottom: 3vh;
}

li a {
  display: block;
  text-align: center;
  text-decoration: none;
}

nav a:hover {
  color: var(--Accent)
}
@media only screen and (max-width: 600px) {
  * {
    font-size: 2vw;
  }

  header h1 {
    display: none;
  }

  nav a {
    font-size: 5vw;
  }

  nav ul {
    font-size: 6vw;
    transform: translate(-6.5vw);
  }
}
